<!DOCTYPE html>
<html>
<head>
  <title>Cherrypick</title>
  <%= stylesheet_link_tag    "cherrypick/application", media: "all" %>
  <%= javascript_include_tag "cherrypick/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
